@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap");

.App {
  text-align: center;
  /* height: 100vh;
   */
  font-family: "Koh Santepheap", cursive;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
